<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.ummo.user">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".api.User"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/user_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:overrideLibrary="com.mongodb.stitch.android"
        tools:replace="android:allowBackup"
        tools:targetApi="m">
        <activity
            android:name=".ui.intro.Intro"
            android:exported="true" />

        <receiver
            android:name=".utilities.broadcastreceivers.ShareBroadCastReceiver"
            android:exported="false" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.onesignal.example.NotificationServiceExtension" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <service
            android:name=".utilities.fcm.UmmoFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.WebViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainScreen" />
        </activity>
        <activity android:name=".ui.signup.CompleteSignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.signup.ContactVerificationActivity" />
        </activity>
        <activity android:name=".ui.signup.ContactVerificationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.signup.RegisterActivity" />
        </activity>
        <activity android:name=".ui.signup.RegisterActivity">
            <meta-data
                android:name="com.google.android.safetynet.ATTEST_API_KEY"
                android:value="@string/safety_net_api_key" />
        </activity>
        <activity android:name=".ui.serviceIssue.ServiceIssue" />

        <!--<activity android:name=".ui.SelfDelegateActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ummo.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>-->
        <activity android:name=".ui.serviceFeedback.Feedback" /> <!-- <activity android:name=".ui.Home" /> -->

        <activity
            android:name=".ui.detailedService.DetailedServiceActivity"
            android:label="@string/title_activity_detailed_service"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.DelegationChat"
            android:label="@string/title_activity_delegation_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!--<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />-->
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://c46e9ae28cb847e7ab39746902f6c29a@o90029.ingest.sentry.io/1485110" />

        <activity
            android:name=".ui.Splash"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ummo.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainScreen"
            android:label="@string/title_activity_confirm_location"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ummo.xyz"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>